* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Heebo", sans-serif;
  font-size: 62.5%;
  min-width: 300px;
}

.hero {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.hero .navbar {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-right: 15px;
}
.hero .navbar p {
  display: none;
}
.hero .navbar img {
  height: 20px;
}
.hero .hero-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.hero .hero-content .hero-text {
  margin-bottom: 60px;
}
.hero .hero-content .hero-text .hero-title {
  font-size: 3.2rem;
  font-weight: 700;
  padding-top: 40px;
  padding-bottom: 15px;
  text-align: center;
}
.hero .hero-content .hero-text .hero-subtitle {
  font-size: 1.6rem;
  text-align: center;
  padding-bottom: 30px;
}
.hero .hero-content .hero-text .hero-button {
  width: fit-content;
  font-size: 2rem;
  padding: 5px 10px 5px 10px;
  margin: 0 auto;
  font-weight: 500;
  background-color: lightcoral;
  border-radius: 20px;
}
.hero .hero-content .hero-img {
  margin-top: 45px;
  height: 170px;
  width: 170px;
}
.hero .hero-content .hero-img img {
  border-radius: 150px;
}
@media screen and (max-width: 599px) {
  .hero {
    max-width: 599px;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .hero {
    max-width: 959px;
  }
  .hero .navbar {
    flex-direction: row;
    padding-top: 27px;
    padding-right: 27px;
    font-weight: 500;
    font-size: 2rem;
  }
  .hero .navbar p {
    display: block;
    padding-left: 26px;
  }
  .hero .navbar img {
    display: none;
  }
  .hero .hero-content {
    padding: 25px 50px 25px 50px;
  }
  .hero .hero-content .hero-text {
    padding-left: 100px;
    padding-right: 100px;
  }
  .hero .hero-content .hero-img {
    height: 245px;
    width: 245px;
  }
  .hero .hero-content .hero-img img {
    border-radius: 150px;
  }
}
@media screen and (min-width: 960px) {
  .hero {
    max-width: 1152px;
  }
  .hero .navbar {
    padding-top: 27px;
    padding-right: 27px;
    font-weight: 500;
    font-size: 2rem;
  }
  .hero .navbar p {
    display: block;
    padding-left: 26px;
  }
  .hero .navbar img {
    display: none;
  }
  .hero .hero-content {
    display: flex;
    flex-direction: row;
    padding: 70px 150px 70px 150px;
  }
  .hero .hero-content .hero-text {
    padding-right: 120px;
    width: calc(100% - 245px);
    margin-bottom: 0px;
  }
  .hero .hero-content .hero-text .hero-title {
    font-size: 4.4rem;
    padding-bottom: 40px;
    text-align: left;
  }
  .hero .hero-content .hero-text .hero-subtitle {
    font-size: 1.6rem;
    padding-bottom: 40px;
    text-align: left;
  }
  .hero .hero-content .hero-text .hero-button {
    width: fit-content;
    font-size: 2rem;
    padding: 5px 10px 5px 10px;
    margin: 0;
  }
  .hero .hero-content .hero-img {
    margin-top: 0px;
    height: 245px;
    width: 245px;
  }
  .hero .hero-content .hero-img img {
    border-radius: 150px;
  }
}

.posts {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.posts .posts-head {
  display: flex;
  width: 100%;
  padding-bottom: 25px;
}
.posts .posts-head .posts-title {
  font-size: 2.2rem;
  width: 50%;
  font-weight: 500;
}
.posts .posts-head .posts-subtitle {
  font-size: 1.6rem;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.posts .recent-posts {
  display: flex;
  flex-direction: row;
}
.posts .recent-posts .post {
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
  background-color: lightgrey;
  border-radius: 5px;
}
.posts .recent-posts .post-title {
  font-size: 2.6rem;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 30px;
}
.posts .recent-posts .post-info {
  font-size: 1.8rem;
  padding-bottom: 30px;
}
.posts .recent-posts .post-description {
  font-size: 1.6rem;
  padding-bottom: 20px;
}
@media screen and (max-width: 599px) {
  .posts {
    max-width: 599px;
  }
  .posts .posts-head {
    padding-left: 20px;
    padding-right: 20px;
  }
  .posts .recent-posts {
    flex-direction: column;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .posts {
    max-width: 959px;
  }
  .posts .posts-head {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 960px) {
  .posts {
    max-width: 1152px;
    padding: 25px 150px 25px 150px;
  }
}

.portfolio {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.portfolio .portfolio-head {
  display: flex;
  width: 100%;
  padding-bottom: 25px;
}
.portfolio .portfolio-head .portfolio-title {
  font-size: 2.2rem;
  width: 50%;
  font-weight: 500;
}
.portfolio .portfolio-head .portfolio-subtitle {
  font-size: 1.6rem;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.portfolio .recent-work {
  display: flex;
  flex-direction: column;
}
.portfolio .recent-work .case {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 30px;
}
.portfolio .recent-work .case-img {
  display: flex;
  align-items: center;
}
.portfolio .recent-work .case-img .image {
  background-size: cover;
  border-radius: 6px;
  height: 180px;
  width: 246px;
}
.portfolio .recent-work .case-text {
  padding-left: 20px;
  padding-right: 20px;
}
.portfolio .recent-work .case-title {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 10px;
}
.portfolio .recent-work .case-info {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  align-items: center;
}
.portfolio .recent-work .case-info .case-date {
  font-size: 1.8rem;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
  background-color: lightgrey;
}
.portfolio .recent-work .case-info .case-tag {
  font-size: 2rem;
  padding-left: 20px;
}
.portfolio .recent-work .case-description {
  font-size: 1.6rem;
}
.portfolio .recent-work .divider {
  width: 100%;
  height: 2px;
  margin: 0 auto;
  background-color: black;
}
@media screen and (max-width: 599px) {
  .portfolio {
    max-width: 599px;
  }
  .portfolio .portfolio-head {
    padding-left: 20px;
    padding-right: 20px;
  }
  .portfolio .recent-work {
    padding-left: 20px;
    padding-right: 20px;
  }
  .portfolio .recent-work .case {
    flex-direction: column;
  }
  .portfolio .recent-work .case .case-img {
    justify-content: center;
    margin-bottom: 20px;
  }
  .portfolio .recent-work .case .case-img .image {
    height: 230px;
    width: 339px;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .portfolio {
    max-width: 959px;
  }
  .portfolio .portfolio-head {
    padding-left: 20px;
    padding-right: 20px;
  }
  .portfolio .recent-work {
    padding-left: 20px;
  }
}
@media screen and (min-width: 960px) {
  .portfolio {
    max-width: 1152px;
    padding: 25px 150px 25px 150px;
  }
}

footer {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .logos {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  gap: 35px;
  margin-bottom: 20px;
  margin-top: 20px;
}
footer p {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
