* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Heebo", sans-serif;
  font-size: 62.5%;
  min-width: 300px;
}

.hero {
  width: 100%;
  margin: 0 auto;
  background-color: aqua;
  height: 100%;
}
.hero .navbar {
  background-color: red;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-right: 15px;
}
.hero .navbar p {
  display: none;
}
.hero .navbar img {
  height: 20px;
}
.hero .hero-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.hero .hero-content .hero-text {
  margin-bottom: 60px;
}
.hero .hero-content .hero-text .hero-title {
  font-size: 3.2rem;
  font-weight: 700;
  padding-top: 40px;
  padding-bottom: 15px;
  text-align: center;
}
.hero .hero-content .hero-text .hero-subtitle {
  font-size: 1.6rem;
  text-align: center;
  padding-bottom: 30px;
}
.hero .hero-content .hero-text .hero-button {
  background-color: red;
  width: fit-content;
  font-size: 2rem;
  padding: 5px 10px 5px 10px;
  margin: 0 auto;
}
.hero .hero-content .hero-img {
  margin-top: 45px;
  background-color: blue;
  height: 170px;
  width: 170px;
}
.hero .hero-content .hero-img img {
  border-radius: 150px;
}
@media screen and (max-width: 599px) {
  .hero {
    max-width: 599px;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .hero {
    max-width: 959px;
  }
  .hero .navbar {
    flex-direction: row;
    padding-top: 27px;
    padding-right: 27px;
    font-weight: 500;
    font-size: 2rem;
  }
  .hero .navbar p {
    display: block;
    padding-left: 26px;
  }
  .hero .navbar img {
    display: none;
  }
  .hero .hero-content {
    padding: 25px 50px 25px 50px;
  }
  .hero .hero-content .hero-img {
    height: 245px;
    width: 245px;
  }
  .hero .hero-content .hero-img img {
    border-radius: 150px;
  }
}
@media screen and (min-width: 960px) {
  .hero {
    max-width: 1152px;
  }
  .hero .navbar {
    padding-top: 27px;
    padding-right: 27px;
    font-weight: 500;
    font-size: 2rem;
  }
  .hero .navbar p {
    display: block;
    padding-left: 26px;
  }
  .hero .navbar img {
    display: none;
  }
  .hero .hero-content {
    display: flex;
    flex-direction: row;
    padding: 70px 150px 70px 150px;
  }
  .hero .hero-content .hero-text {
    padding-right: 120px;
    width: calc(100% - 245px);
    margin-bottom: 0px;
  }
  .hero .hero-content .hero-text .hero-title {
    font-size: 4.4rem;
    padding-bottom: 40px;
    text-align: left;
  }
  .hero .hero-content .hero-text .hero-subtitle {
    font-size: 1.6rem;
    padding-bottom: 40px;
    text-align: left;
  }
  .hero .hero-content .hero-text .hero-button {
    background-color: red;
    width: fit-content;
    font-size: 2rem;
    padding: 5px 10px 5px 10px;
    margin: 0;
  }
  .hero .hero-content .hero-img {
    margin-top: 0px;
    background-color: blue;
    height: 245px;
    width: 245px;
  }
  .hero .hero-content .hero-img img {
    border-radius: 150px;
  }
}

.posts {
  width: 100%;
  margin: 0 auto;
  background-color: pink;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.posts .posts-head {
  display: flex;
  width: 100%;
  padding-bottom: 25px;
  background-color: antiquewhite;
}
.posts .posts-head .posts-title {
  font-size: 2.2rem;
  width: 50%;
}
.posts .posts-head .posts-subtitle {
  font-size: 1.6rem;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.posts .recent-posts {
  display: flex;
  flex-direction: row;
  background-color: aquamarine;
}
.posts .recent-posts .post1 {
  padding-left: 20px;
  margin-right: 20px;
}
.posts .recent-posts .post2 {
  padding-left: 20px;
  padding-right: 20px;
}
.posts .recent-posts .post-title {
  font-size: 2.6rem;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 30px;
}
.posts .recent-posts .post-info {
  font-size: 1.8rem;
  padding-bottom: 30px;
}
.posts .recent-posts .post-description {
  font-size: 1.6rem;
  padding-bottom: 20px;
}
@media screen and (min-width: 960px) {
  .posts {
    max-width: 1152px;
    display: flex;
    padding: 25px 150px 25px 150px;
  }
}

.portfolio {
  width: 100%;
  margin: 0 auto;
  background-color: cadetblue;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.portfolio .portfolio-head {
  display: flex;
  width: 100%;
  padding-bottom: 25px;
  background-color: antiquewhite;
  font-size: 2.2rem;
}
.portfolio .recent-work {
  display: flex;
  flex-direction: row;
  background-color: aquamarine;
}
.portfolio .recent-work .post-title {
  font-size: 2.6rem;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 30px;
}
.portfolio .recent-work .post-info {
  font-size: 1.8rem;
  padding-bottom: 30px;
}
.portfolio .recent-work .post-description {
  font-size: 1.6rem;
  padding-bottom: 20px;
}
@media screen and (min-width: 960px) {
  .portfolio {
    max-width: 1152px;
    display: flex;
    padding: 25px 150px 25px 150px;
  }
}

/*# sourceMappingURL=style.css.map */
