$screen-xs-min: 300px;
$screen-sm-min: 600px;
$screen-md-min: 960px;

$screen-xs-max: 599px;
$screen-sm-max: 959px;
$screen-md-max: 1152px;

$title-font-weight: 700;
$title-font-size: 4.4rem;
$title-font-size-sm: 3.2rem;
$title-font-line-height: 60px;

$subtitle-font-weight: 500;
$subtitle-font-size: 2rem;

$text-font-size: 1.6rem;

$black: #21243D;