@use './_variables.scss' as *;
@use './mixins' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Heebo", sans-serif;
    font-size: 62.5%;
    min-width: 300px;
}

.hero {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;

    .navbar {
        display: flex;
        justify-content: flex-end;
        padding-top: 20px;
        padding-right: 15px;

        p {
            display: none;
        }

        img {
            height: 20px;

        }
    }

    .hero-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;

        .hero-text {
            margin-bottom: 60px;

            .hero-title {
                font-size: $title-font-size-sm;
                font-weight: $title-font-weight;
                padding-top: 40px;
                padding-bottom: 15px;
                text-align: center;
            }

            .hero-subtitle {
                font-size: $text-font-size;
                text-align: center;
                padding-bottom: 30px;
            }

            .hero-button {
                width: fit-content;
                font-size: $subtitle-font-size;
                padding: 5px 10px 5px 10px;
                margin: 0 auto;
                font-weight: $subtitle-font-weight;
                background-color: lightcoral;
                border-radius: 20px;
            }
        }

        .hero-img {
            margin-top: 45px;
            height: 170px;
            width: 170px;

            img {
                border-radius: 150px;
            }
        }
    }

    @include xs {
        max-width: $screen-xs-max;
    }

    @include sm {

        max-width: $screen-sm-max;

        .navbar {
            flex-direction: row;
            padding-top: 27px;
            padding-right: 27px;
            font-weight: $subtitle-font-weight;
            font-size: $subtitle-font-size;

            p {
                display: block;
                padding-left: 26px;
            }

            img {
                display: none;

            }
        }

        .hero-content {
            padding: 25px 50px 25px 50px;
            
            .hero-text {
                padding-left: 100px;
                padding-right: 100px;
            }

            .hero-img {
                height: 245px;
                width: 245px;

                img {
                    border-radius: 150px;
                }
            }
        }
    }

    @include md {
        max-width: $screen-md-max;

        .navbar {
            padding-top: 27px;
            padding-right: 27px;
            font-weight: $subtitle-font-weight;
            font-size: $subtitle-font-size;

            p {
                display: block;
                padding-left: 26px;
            }

            img {
                display: none;
            }
        }

        .hero-content {
            display: flex;
            flex-direction: row;
            padding: 70px 150px 70px 150px;

            .hero-text {
                padding-right: 120px;
                width: calc(100% - 245px);
                margin-bottom: 0px;

                .hero-title {
                    font-size: $title-font-size;
                    padding-bottom: 40px;
                    text-align: left;
                }

                .hero-subtitle {
                    font-size: $text-font-size;
                    padding-bottom: 40px;
                    text-align: left;
                }

                .hero-button {
                    width: fit-content;
                    font-size: $subtitle-font-size;
                    padding: 5px 10px 5px 10px;
                    margin: 0;
                }
            }

            .hero-img {
                margin-top: 0px;
                height: 245px;
                width: 245px;

                img {
                    border-radius: 150px;
                }
            }
        }
    }

}

.posts {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;

    .posts-head {
        display: flex;
        width: 100%;
        padding-bottom: 25px;

        .posts-title {
            font-size: 2.2rem;
            width: 50%;
            font-weight: $subtitle-font-weight;
        }
    
        .posts-subtitle {
            font-size: 1.6rem;
            width: 50%;
            display: flex;
            justify-content: flex-end;
            color: cornflowerblue;
        }
    }

    .recent-posts {
        display: flex;
        flex-direction: row;

        .post {
            padding-left: 20px;
            padding-right: 20px;
            margin-right: 20px;
            border-radius: 5px;
            background-color: lightgrey;
        }

        .post-title {
            font-size: 2.6rem;
            font-weight: $title-font-weight;
            padding-top: 20px;
            padding-bottom: 30px;
        }

        .post-info {
            font-size: 1.8rem;
            padding-bottom: 30px;
        }

        .post-description {
            font-size: $text-font-size;
            padding-bottom: 20px;
        }
    }

    @include xs {
        max-width: $screen-xs-max;

        .posts-head {
            padding-left: 20px;
            padding-right: 20px;
        }

        .recent-posts {
            flex-direction: column;
        }
    }

    @include sm {
        max-width: $screen-sm-max;
        
        .posts-head {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    @include md {
        max-width: $screen-md-max;
        padding: 25px 150px 25px 150px;
    }
}

.portfolio {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .portfolio-head {
        display: flex;
        width: 100%;
        padding-bottom: 25px;

        .portfolio-title {
            font-size: 2.2rem;
            width: 50%;
            font-weight: $subtitle-font-weight;
        }
    
        .portfolio-subtitle {
            font-size: 1.6rem;
            width: 50%;
            display: flex;
            justify-content: flex-end;
            color: cornflowerblue;
        }
    }

    .recent-work {
        display: flex;
        flex-direction: column;

        .case {
            display: flex;
            flex-direction: row;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .case-img {
            display: flex;
            align-items: center;

            .image {
                background-size: cover;
                border-radius: 6px;
                height: 180px;
                width: 246px;
            }   
        }

        .case-text {
            padding-left: 20px;
            padding-right: 20px;
        }

        .case-title {
            font-size: 3rem;
            font-weight: $title-font-weight;
            padding-bottom: 10px;
        }

        .case-info {
            display: flex;
            flex-direction: row;
            padding-bottom: 10px;
            align-items: center;

            .case-date {
                font-size: 1.8rem;
                border-radius: 20px;
                padding-left: 10px;
                padding-right: 10px;
                font-weight: $title-font-weight;
                background-color: lightgrey;
            }

            .case-tag {
                font-size: 2rem;
                padding-left: 20px;
            }
        }

        .case-description {
            font-size: $text-font-size;
        }

        .divider {
            width: 100%;
            height: 2px;
            margin: 0 auto;
            background-color: black;
        }
    }

    @include xs {
        max-width: $screen-xs-max;

        .portfolio-head {
            padding-left: 20px;
            padding-right: 20px;
        }

        .recent-work {
            padding-left: 20px;
            padding-right: 20px;

            .case {
                flex-direction: column;

                .case-img {
                    justify-content: center;
                    margin-bottom: 20px;
        
                    .image {
                        height: 230px;  
                        width: 339px;       
                    }   
                }
            }
        }
    }

    @include sm {
        max-width: $screen-sm-max;

        .portfolio-head {
            padding-left: 20px;
            padding-right: 20px;
        }

        .recent-work {
            padding-left: 20px;
        }
    }

    @include md {
        max-width: $screen-md-max;
        padding: 25px 150px 25px 150px;
    }
}

footer {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logos {
        display: grid;
        grid-template-columns: 50px 50px 50px;
        gap: 35px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    p {
        font-size: $text-font-size;
        margin-bottom: 20px;
    }
}